.root {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    &__profile {
        column-gap: 10px;
        display: flex;
        justify-content: space-between;
        flex: 1 1 15%;
    }
    &__theme {
        &__indicator {
            display: none;
        }
        &__icon {
            cursor: pointer;
        }
    }
}
