.root {
    width: 250px;
    background: none;
    padding: 5px;
    border-bottom: 1px solid #cfcfcf;
    color: var(--auth-input-text-color);
    margin-bottom: 15px;
    &::placeholder {
        color: var(--auth-input-placeholder-color);
    }
    &[type="text"]:not(:placeholder-shown) {
        letter-spacing: 1px;
    }
    &[type="password"]:not(:placeholder-shown) {
        letter-spacing: 2px;
    }
}
