.root {
    display: flex;
    min-height: 100%;
    aside {
        flex: 0 1 15%;
    }
    &__body {
        flex: 0 1 85%;
        &__wrapper {
            padding: 30px;
            padding-bottom: 0;
        }
    }
}
