.root {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 7px 0;
    span {
        width: 9px;
        height: 9px;
        display: block;
    }
    p {
        font-weight: 600;
        text-transform: capitalize;
        color: var(--favourites-text-color);
        font-size: 12px;
    }
}
