body[data-theme="dark"] {
    --bg-color: #0d1015;
    --bg-aside: #151c24;
    --bg-blocks: #151c24;

    --search-placeholder-color: #8a8a8b;

    --auth-input-placeholder-color: #e0e0e0;
    --auth-button-bg: #686868;

    --favourites-text-color: #aeb4b9;

    --aside-color-active: #fffdfd;
    --aside-border-color: #6c737c;
}
