body[data-theme="light"] {
    --bg-color: #fff;
    --bg-aside: #f8f8f8;
    --bg-blocks: red;

    --search-placeholder-color: #cdd0d6;

    --auth-input-placeholder-color: #c4c1c1;
    --auth-button-bg: #dbdada;
    --auth-input-text-color: #414141;

    --favourites-text-color: #000;

    --aside-color-active: #0e131f;
    --aside-border-color: #e0e0e0;
}
